.wrapper {
  position: relative;
  display: flex;
  max-width: 400px;
}

.showButton {
  position: absolute;
  right: 0;
  top: 10px;
  margin: auto;
  padding: 0 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}
